{% extends "page/header.html" %}

{% block content %}

<div class="blog">
  <div class="blog-content">
    <!--Basic Text Block-->
    <div class="row">
      <h2>인삿말</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>
            우리는 광교 고등학교에 코뿔소횡경막 팀으로 우리의 탐구 활동이 코로나에대한 경각심을 알릴수있는 자료가 되었음하며 이 데이터에대한 출처는 질병관리본부에 있음을 알립니다.
          </p>
        </div>
      </div>
    </div>

    <!--Basic Text Block-->
    <div class="row">
      <h2>목적</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>
            <!--청소년 중심의 코로나 관련 데이터 사항들을 정리및 시각화 하여 청소년 중심의 코로나 관련 데이터들을 볼수있도록 하는것-->
            하이염
          </p>
        </div>
      </div>
    </div>

    <!--In-text list-->
    <div class="row">
      <h2>Project Keyword</h2>
      <div class="col-sm-10">
        <ul>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <li>
              <p>COVID19</p>
            </li>
            <li>
              <p>통계</p>
            </li>
            <li>
              <p>청소년</p>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <!--Structured list-->
    <div class="row">
      <h2>목차</h2>
      <div class="col-sm-10">
        <div class="blog-structured-list">
          <ol>
            <li>Introduction (Home)</li>
            <p>영상,소개글.</p>
            <li>Patient analysis</li>
            <p>차트</p>
            <li>Corona map</li>
            <p>지도</p>
          </ol>
        </div>
      </div>
    </div>

    <!--Video half-->
    <div class="row">
      <div class="col-sm-5">
        <div class="blog-basic-text"></div>
      </div>
      <div class="col-sm-5">
        <div class="blog-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nd6GgX29IE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>


  </div>
</div>



{% endblock %}